In [348]:
#SQL DATABASES TAKES FOREVER TO LOAD THIS DMAN THING 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import sqlite3



sq = sqlite3.connect('/Users/carlosgovea/Documents/Flatiron/DSNYC103122/Phase-1-project-template/zippedData/im.db')
cur = sq.cursor() # Used to execute SQL commands
cur.execute("""SELECT name FROM sqlite_master WHERE type = 'table';""")
#sql_movie_basics = pd.read_sql_query("SELECT * from movie_basics", sq)
#sql_directors = pd.read_sql_query("SELECT * from directors", sq)
#sql_known_for = pd.read_sql_query("SELECT * from known_for", sq) YOU WONT NEED THIS
#sql_movie_akas = pd.read_sql_query("SELECT * from movie_akas", sq) YOU WONT NEED THIS
#sql_movie_ratings = pd.read_sql_query("SELECT * from movie_ratings", sq)
#sql_persons = pd.read_sql_query("SELECT * from persons", sq) 
#sql_principals = pd.read_sql_query("SELECT * from principals", sq)
#sql_writers = pd.read_sql_query("SELECT * from writers", sq)
#sql_movie_ratings.to_csv('/Users/carlosgovea/Documents/Flatiron/DSNYC103122/Phase-1-project-template/zippedData/movie_ratings.csv')
#sql_movie_basics.to_csv('/Users/carlosgovea/Documents/Flatiron/DSNYC103122/Phase-1-project-template/zippedData/movie_basics.csv')
sql_persons

,person_id,primary_name,birth_year,death_year,primary_profession
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator"
...,...,...,...,...,...
606643,nm9990381,Susan Grobes,NaN,NaN,actress
606644,nm9990690,Joo Yeon So,NaN,NaN,actress
606645,nm9991320,Madeline Smith,NaN,NaN,actress
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer"

In [344]:
merged_2= pd.read_csv('/Users/carlosgovea/Documents/Flatiron/DSNYC103122/Phase-1-project-template/notebooks/merged_2.csv', index_col=0)
merged_2

,id_x,release_date_x,movie,production_budget,domestic_gross_x,worldwide_gross,release_year,title,studio,foreign_gross,year,genre_ids,original_language,original_title,popularity,vote_average,vote_count
0,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,2011,Pirates of the Caribbean: On Stranger Tides,BV,804600000.0,2011,"[12, 28, 14]",en,Pirates of the Caribbean: On Stranger Tides,30.579,6.4,8571
1,4,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,2015,Avengers: Age of Ultron,BV,946400000.0,2015,"[28, 12, 878]",en,Avengers: Age of Ultron,44.383,7.3,13457
2,7,2018-04-27,Avengers: Infinity War,300000000.0,678815482.0,2.048134e+09,2018,Avengers: Infinity War,BV,NaN,2018,"[12, 28, 14]",en,Avengers: Infinity War,80.773,8.3,13948
3,9,2017-11-17,Justice League,300000000.0,229024295.0,6.559452e+08,2017,Justice League,WB,428900000.0,2017,"[28, 12, 14, 878]",en,Justice League,34.953,6.2,7510
4,9,2017-11-17,Justice League,300000000.0,229024295.0,6.559452e+08,2017,Justice League,WB,428900000.0,2017,"[28, 12, 14, 878]",en,Justice League,34.953,6.2,7510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1208,48,2011-07-22,Another Earth,175000.0,1321194.0,2.102779e+06,2011,Another Earth,FoxS,456000.0,2011,"[18, 878]",en,Another Earth,10.030,6.7,853
1209,68,2012-04-27,Sound of My Voice,135000.0,408015.0,4.294480e+05,2012,Sound of My Voice,FoxS,NaN,2012,"[878, 18, 9648, 53]",en,Sound of My Voice,7.212,6.4,169
1210,73,2012-06-15,Your Sister's Sister,120000.0,1597486.0,3.090593e+06,2012,Your Sister's Sister,IFC,NaN,2012,"[18, 35]",en,Your Sister's Sister,7.115,6.6,192
1211,80,2015-07-10,The Gallows,100000.0,22764410.0,4.165647e+07,2015,The Gallows,WB (NL),20200000.0,2015,"[27, 53]",en,The Gallows,9.166,4.8,591
1212,86,2017-07-07,A Ghost Story,100000.0,1594798.0,2.769782e+06,2017,A Ghost Story,A24,NaN,2017,"[18, 14, 10749]",en,A Ghost Story,11.886,7.0,906

In [345]:
sql_merged = sql_movie_basics.merge(sql_movie_ratings, left_on ='movie_id', right_on='movie_id', how ='outer')

NameError: name 'sql_movie_basics' is not defined

In [ ]:
sql_person_match = sql_persons.merge(sql_writers,left_on='person_id', right_on='person_id', how ='inner')

In [ ]:
sql_person_match
sql_person_match.drop(['primary_profession','birth_year','death_year'], axis=1,inplace=True)
sql_person_match.info()

In [ ]:
all_merge = merged_2.merge(sql_merged,left_on='title',right_on='primary_title',how='inner')

In [ ]:
all_merge.info()

In [ ]:
all_merge.drop(['start_year','original_title_y','primary_title','vote_count','vote_average','original_title_x','original_language'], axis=1,inplace=True)

In [347]:
sql_movie_match = sql_merged.merge(sql_person, left_on = 'movie_id', right_on ='movie_id', how='inner')

NameError: name 'sql_merged' is not defined

In [346]:
sql_movie_match['types'].value_counts()

NameError: name 'sql_movie_match' is not defined

In [ ]:
sql_movie_match.drop(['is_original_title'], axis=1, inplace=True)

In [ ]:
#sql_movie_match[sql_movie_match['language'].isna().sum()]

In [ ]:
sql_movie_match.drop(['language'], axis=1,inplace=True)

In [ ]:
sql_movie_match[sql_movie_match.duplicated(subset=['movie_id','title'])]

In [ ]:
sql_movie_match.loc[sql_movie_match['title']=='Sniper 7: Homeland Security',:]

In [ ]:
sql_movie_match.info()#120913

In [ ]:
merged_3= merged_2.merge(sql_merged, left_on =['movie','title'], right_on=['primary_title','movie_id'], how='outer')

In [ ]:
merged_3

In [ ]:
merged_3.info()

In [ ]:
merged_3.drop(['numvotes','start_year','original_title_y','vote_count','vote_average','original_title_x'], axis=1,inplace=True)

In [ ]:
merged_3.info()

In [ ]:
merged_3.dropna()
merged_3.loc[merged_3['genres'].isna(),:]

In [ ]:
all_merge.to_csv('/Users/carlosgovea/Documents/Flatiron/DSNYC103122/Phase-1-project-template/zippedData/joined_sql_csv.csv')

In [ ]:
all_merge['profit'] = all_merge['worldwide_gross']-all_merge['production_budget']

In [ ]:
all_merge['profit_rate'] = (all_merge['profit']/all_merge['production_budget'])*100

In [ ]:
all_merge.drop(['title'],axis=1,inplace=True)

In [ ]:
all_merge.info()

In [ ]:
all_merge['foreign_gross'].value_counts()

In [ ]:
all_merge.rename(columns={'id_x':'id','release_date_x':'release_date','domestic_gross_x':'domestic_gross'},inplace=True)

In [ ]:
#all_merge = all_merge.reset_index([0,'movie_id'])

In [ ]:
genre_list= list(set(all_merge['genres'].dropna().values))

In [ ]:
genre_list

In [ ]:
unique_genre_list =[]
for genre in genre_list:
    unique_genre = genre.split(',')
    unique_genre_list.append(unique_genre)

In [ ]:
unique_genre_list

In [ ]:
all_merge

In [ ]:
share_distribution= all_merge[['foreign_gross','domestic_gross','year']]

In [ ]:
share_distribution

In [ ]:
all_merge.to_csv('/Users/carlosgovea/Documents/Flatiron/DSNYC103122/Phase-1-project-template/zippedData/all_merged.csv',index=False)

In [ ]:
all_merge[all_merge.duplicated(subset=['movie','movie_id'])]

In [ ]:
all_merge.loc[all_merge['movie']=='Spectre']

In [ ]:
all_merge.drop_duplicates(subset=['movie','movie_id'], keep='first',inplace =True)

In [ ]:
all_merge.loc[all_merge['movie']=='Rubber']

In [ ]:
all_merge[all_merge.duplicated(subset=['movie','movie_id'])]

In [ ]:
all_merge.to_csv('/Users/carlosgovea/Documents/Flatiron/DSNYC103122/Phase-1-project-template/zippedData/all_merged.csv',index=False)

In [ ]:
SQL_movie_ratings =pd.read_csv('/Users/carlosgovea/Documents/Flatiron/DSNYC103122/Phase-1-project-template/zippedData/movie_ratings.csv')
SQL_movie_basics = pd.read_csv('/Users/carlosgovea/Documents/Flatiron/DSNYC103122/Phase-1-project-template/zippedData/movie_basics.csv')

In [ ]:
SQL_movie_basics

In [ ]:
merged_attempt =pd.merge(SQL_movie_ratings,SQL_movie_basics,on='movie_id')

In [ ]:
merged_attempt

In [ ]:
sql_person_match.info() #String contains function to filter out only directors

In [ ]:
sql_person_match['directors_dummy']= sql_person_match['primary_profession'].str.contains('director')

In [ ]:
sql_person_match =sql_person_match.loc[sql_person_match['directors_dummy']==True]

In [ ]:
sql_person_match.drop(['birth_year','death_year'], axis=1,inplace=True)

In [ ]:
sql_person_match.dropna()

In [ ]:
#del professions =list(set(sql_person_match['primary_profession'].dropna().values))

In [ ]:
#del unique_professions
#del professions 
sql_person_cat =sql_person_match.merge(sql_principals, left_on ='person_id', right_on='person_id',how='inner')

In [ ]:
sql_person_cat = sql_person_cat.loc[sql_person_cat['category']=='director']

In [ ]:
sql_person_cat.drop(['movie_id_y','job','characters','directors_dummy'],axis=1,inplace=True)

In [ ]:
sql_person_cat.drop(['primary_profession'],axis=1, inplace=True)

In [ ]:
sql_person_cat.drop(['ordering'],axis=1, inplace=True)

In [ ]:
sql_person_cat

In [ ]:
all_merged = pd.read_csv('/Users/carlosgovea/Documents/Flatiron/DSNYC103122/Phase-1-project-template/zippedData/all_merged.csv')

In [240]:
all_merged_cat = all_merged.merge(sql_person_cat,left_on='movie_id',right_on='movie_id_x',how='outer')

In [241]:
all_merged_cat.dropna()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,studio,foreign_gross,year,...,popularity,movie_id,runtime_minutes,genres,profit,profit_rate,person_id,primary_name,movie_id_x,category
0,2.0,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,2011.0,BV,804600000.0,2011.0,...,30.579,tt1298650,136.0,"Action,Adventure,Fantasy",6.350639e+08,154.667286,nm0064181,Stuart Beattie,tt1298650,director
1,2.0,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,2011.0,BV,804600000.0,2011.0,...,30.579,tt1298650,136.0,"Action,Adventure,Fantasy",6.350639e+08,154.667286,nm0064181,Stuart Beattie,tt1298650,director
2,4.0,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,2015.0,BV,946400000.0,2015.0,...,44.383,tt2395427,141.0,"Action,Adventure,Sci-Fi",1.072414e+09,324.384139,nm0923736,Joss Whedon,tt2395427,director
3,4.0,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,2015.0,BV,946400000.0,2015.0,...,44.383,tt2395427,141.0,"Action,Adventure,Sci-Fi",1.072414e+09,324.384139,nm0923736,Joss Whedon,tt2395427,director
4,4.0,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,2015.0,BV,946400000.0,2015.0,...,44.383,tt2395427,141.0,"Action,Adventure,Sci-Fi",1.072414e+09,324.384139,nm0923736,Joss Whedon,tt2395427,director
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3489,80.0,2015-07-10,The Gallows,100000.0,22764410.0,4.165647e+07,2015.0,WB (NL),20200000.0,2015.0,...,9.166,tt2309260,81.0,"Horror,Mystery,Thriller",4.155647e+07,41556.474000,nm3951039,Chris Lofing,tt2309260,director
3490,80.0,2015-07-10,The Gallows,100000.0,22764410.0,4.165647e+07,2015.0,WB (NL),20200000.0,2015.0,...,9.166,tt2309260,81.0,"Horror,Mystery,Thriller",4.155647e+07,41556.474000,nm4000389,Travis Cluff,tt2309260,director
3491,80.0,2015-07-10,The Gallows,100000.0,22764410.0,4.165647e+07,2015.0,WB (NL),20200000.0,2015.0,...,9.166,tt2309260,81.0,"Horror,Mystery,Thriller",4.155647e+07,41556.474000,nm4000389,Travis Cluff,tt2309260,director
3492,80.0,2015-07-10,The Gallows,100000.0,22764410.0,4.165647e+07,2015.0,WB (NL),20200000.0,2015.0,...,9.166,tt2309260,81.0,"Horror,Mystery,Thriller",4.155647e+07,41556.474000,nm4000389,Travis Cluff,tt2309260,director
3493,80.0,2015-07-10,The Gallows,100000.0,22764410.0,4.165647e+07,2015.0,WB (NL),20200000.0,2015.0,...,9.166,tt2309260,81.0,"Horror,Mystery,Thriller",4.155647e+07,41556.474000,nm4000389,Travis Cluff,tt2309260,director

In [242]:
all_merged_cat.drop_duplicates(subset=['movie'], keep='first',inplace =True)

In [243]:
all_merged_cat

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,studio,foreign_gross,year,...,popularity,movie_id,runtime_minutes,genres,profit,profit_rate,person_id,primary_name,movie_id_x,category
0,2.0,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,2011.0,BV,804600000.0,2011.0,...,30.579,tt1298650,136.0,"Action,Adventure,Fantasy",6.350639e+08,154.667286,nm0064181,Stuart Beattie,tt1298650,director
2,4.0,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,2015.0,BV,946400000.0,2015.0,...,44.383,tt2395427,141.0,"Action,Adventure,Sci-Fi",1.072414e+09,324.384139,nm0923736,Joss Whedon,tt2395427,director
5,7.0,2018-04-27,Avengers: Infinity War,300000000.0,678815482.0,2.048134e+09,2018.0,BV,NaN,2018.0,...,80.773,tt4154756,149.0,"Action,Adventure,Sci-Fi",1.748134e+09,582.711400,NaN,NaN,NaN,NaN
6,9.0,2017-11-17,Justice League,300000000.0,229024295.0,6.559452e+08,2017.0,WB,428900000.0,2017.0,...,34.953,tt0974015,120.0,"Action,Adventure,Fantasy",3.559452e+08,118.648403,nm0811583,Zack Snyder,tt0974015,director
14,10.0,2015-11-06,Spectre,300000000.0,200074175.0,8.796209e+08,2015.0,Sony,680600000.0,2015.0,...,30.318,tt2379713,148.0,"Action,Adventure,Thriller",5.796209e+08,193.206974,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3479,68.0,2012-04-27,Sound of My Voice,135000.0,408015.0,4.294480e+05,2012.0,FoxS,NaN,2012.0,...,7.212,tt1748207,85.0,"Drama,Mystery,Sci-Fi",2.944480e+05,218.109630,nm2610231,Zal Batmanglij,tt1748207,director
3481,73.0,2012-06-15,Your Sister's Sister,120000.0,1597486.0,3.090593e+06,2012.0,IFC,NaN,2012.0,...,7.115,tt1742336,90.0,"Comedy,Drama",2.970593e+06,2475.494167,nm1119645,Lynn Shelton,tt1742336,director
3486,80.0,2015-07-10,The Gallows,100000.0,22764410.0,4.165647e+07,2015.0,WB (NL),20200000.0,2015.0,...,9.166,tt2309260,81.0,"Horror,Mystery,Thriller",4.155647e+07,41556.474000,nm3951039,Chris Lofing,tt2309260,director
3494,86.0,2017-07-07,A Ghost Story,100000.0,1594798.0,2.769782e+06,2017.0,A24,NaN,2017.0,...,11.886,tt6265828,92.0,"Drama,Fantasy,Romance",2.669782e+06,2669.782000,nm1108007,David Lowery,tt6265828,director
3499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nm0064023,Bryan Beasley,tt3501180,director

In [244]:
all_merged_cat['profitability'] =pd.qcut(all_merged_cat['profit_rate'], q=3, labels=['Low','Moderate','High'])

In [245]:
all_merged_cat.dropna()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,studio,foreign_gross,year,...,movie_id,runtime_minutes,genres,profit,profit_rate,person_id,primary_name,movie_id_x,category,profitability
0,2.0,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,2011.0,BV,804600000.0,2011.0,...,tt1298650,136.0,"Action,Adventure,Fantasy",6.350639e+08,154.667286,nm0064181,Stuart Beattie,tt1298650,director,Moderate
2,4.0,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,2015.0,BV,946400000.0,2015.0,...,tt2395427,141.0,"Action,Adventure,Sci-Fi",1.072414e+09,324.384139,nm0923736,Joss Whedon,tt2395427,director,High
6,9.0,2017-11-17,Justice League,300000000.0,229024295.0,6.559452e+08,2017.0,WB,428900000.0,2017.0,...,tt0974015,120.0,"Action,Adventure,Fantasy",3.559452e+08,118.648403,nm0811583,Zack Snyder,tt0974015,director,Moderate
15,11.0,2012-07-20,The Dark Knight Rises,275000000.0,448139099.0,1.084439e+09,2012.0,WB,636800000.0,2012.0,...,tt1345836,164.0,"Action,Thriller",8.094391e+08,294.341491,nm0634240,Christopher Nolan,tt1345836,director,High
20,12.0,2018-05-25,Solo: A Star Wars Story,275000000.0,213767512.0,3.931513e+08,2018.0,BV,179200000.0,2018.0,...,tt3778644,135.0,"Action,Adventure,Fantasy",1.181513e+08,42.964126,nm0001410,Lawrence Kasdan,tt3778644,director,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3432,38.0,2013-07-12,Fruitvale Station,900000.0,16098998.0,1.754964e+07,2013.0,Wein.,1300000.0,2013.0,...,tt2334649,85.0,"Biography,Drama,Romance",1.664964e+07,1849.960556,nm3363032,Ryan Coogler,tt2334649,director,High
3437,70.0,2012-02-03,Kill List,800000.0,29063.0,4.622060e+05,2012.0,IFC,143000.0,2012.0,...,tt1788391,95.0,"Crime,Drama,Horror",-3.377940e+05,-42.224250,nm1296554,Ben Wheatley,tt1788391,director,Low
3459,74.0,2011-10-28,Like Crazy,250000.0,3395391.0,3.728400e+06,2011.0,ParV,336000.0,2011.0,...,tt1758692,86.0,"Drama,Romance",3.478400e+06,1391.360000,nm2035886,Drake Doremus,tt1758692,director,High
3476,48.0,2011-07-22,Another Earth,175000.0,1321194.0,2.102779e+06,2011.0,FoxS,456000.0,2011.0,...,tt1549572,92.0,"Drama,Romance,Sci-Fi",1.927779e+06,1101.588000,nm2648685,Mike Cahill,tt1549572,director,High
3486,80.0,2015-07-10,The Gallows,100000.0,22764410.0,4.165647e+07,2015.0,WB (NL),20200000.0,2015.0,...,tt2309260,81.0,"Horror,Mystery,Thriller",4.155647e+07,41556.474000,nm3951039,Chris Lofing,tt2309260,director,High

In [246]:
all_merged_cat['primary_name'].value_counts()

Luc Besson            9
Nicholas Stoller      7
Guillermo del Toro    7
Steven Knight         5
Adam McKay            5
                     ..
Spike Lee             1
Zach Braff            1
Andrea Arnold         1
Leslye Headland       1
Dan Scanlon           1
Name: primary_name, Length: 372, dtype: int64

In [247]:
all_merged_cat = all_merged_cat.loc[all_merged_cat['profitability']=='High',:]

In [248]:
all_merged_cat['foreign_share'] = all_merged_cat['']

<class 'pandas.core.frame.DataFrame'>
Int64Index: 334 entries, 2 to 3494
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 334 non-null    float64
 1   release_date       334 non-null    object
 2   movie              334 non-null    object
 3   production_budget  334 non-null    float64
 4   domestic_gross     334 non-null    float64
 5   worldwide_gross    334 non-null    float64
 6   release_year       334 non-null    float64
 7   studio             334 non-null    object
 8   foreign_gross      307 non-null    float64
 9   year               334 non-null    float64
 10  genre_ids          334 non-null    object
 11  popularity         334 non-null    float64
 12  movie_id           334 non-null    object
 13  runtime_minutes    334 non-null    float64
 14  genres             334 non-null    object
 15  profit             334 non-null    float64
 16  profit_rate        334 non-null    float64
 17  person_id          175 non-null    object
 18  primary_name       175 non-null    object
 19  movie_id_x         175 non-null    object
 20  category           175 non-null    object
 21  profitability      334 non-null    category
dtypes: category(1), float64(11), object(10)
memory usage: 57.8+ KB

In [340]:
all_merged_cat.drop(['release_date','year','genre_ids','genres','person_id','movie_id_x'],axis=1, inplace=True)

KeyError: "['release_date' 'year' 'genre_ids' 'genres' 'person_id' 'movie_id_x'] not found in axis"

In [251]:
all_merged_cat = all_merged_cat.groupby(['studio', 'primary_name','primary_share']).sum()

In [332]:
all_merged_cat = all_merged_cat.sort_values(by='popularity',ascending=False)

all_merged_cat

                              id  production_budget  domestic_gross  \
studio primary_name
Uni.   James DeMonaco      229.0         35000000.0    2.845668e+08
       Colin Trevorrow      47.0        385000000.0    1.069990e+09
       Peter Farrelly       72.0         63000000.0    1.712882e+08
Fox    Matthew Vaughn       83.0        198000000.0    2.284966e+08
BV     James Gunn           14.0        170000000.0    3.331721e+08
...                          ...                ...             ...
Strand Larry Brand          68.0         45000000.0    7.539504e+07
Focus  Shan Serafin         92.0         10000000.0    2.659426e+07
SGem   Paul W.S. Anderson   84.0         40000000.0    2.684469e+07
LG/S   Scott Derrickson     69.0          3000000.0    4.808690e+07
       Ric Roman Waugh      26.0         15000000.0    4.293046e+07

                           worldwide_gross  release_year  foreign_gross  \
studio primary_name
Uni.   James DeMonaco         4.579335e+08        8061.0    171800000.0
       Colin Trevorrow        2.954628e+09        4033.0    891800000.0
       Peter Farrelly         4.785880e+08        4032.0    318300000.0
Fox    Matthew Vaughn         8.133654e+08        4032.0    596800000.0
BV     James Gunn             7.708675e+08        2014.0    440200000.0
...                                    ...           ...            ...
Strand Larry Brand            1.742782e+08        2016.0        97100.0
Focus  Shan Serafin           4.074923e+07        2016.0     11000000.0
SGem   Paul W.S. Anderson     3.141012e+08        2017.0    285400000.0
LG/S   Scott Derrickson       8.772781e+07        2012.0     29600000.0
       Ric Roman Waugh        5.790773e+07        2013.0            0.0

                           popularity  runtime_minutes        profit  \
studio primary_name
Uni.   James DeMonaco         100.203            394.0  4.229335e+08
       Colin Trevorrow         55.667            252.0  2.569628e+09
       Peter Farrelly          52.248            239.0  4.155880e+08
Fox    Matthew Vaughn          50.440            270.0  6.153654e+08
BV     James Gunn              49.606            121.0  6.008675e+08
...                               ...              ...           ...
Strand Larry Brand              1.595             80.0  1.292782e+08
Focus  Shan Serafin             1.125             98.0  3.074923e+07
SGem   Paul W.S. Anderson       0.844            107.0  2.741012e+08
LG/S   Scott Derrickson         0.600            110.0  8.472781e+07
       Ric Roman Waugh          0.600            112.0  4.290773e+07

                           profit_rate
studio primary_name
Uni.   James DeMonaco      6117.545438
       Colin Trevorrow     1335.010886
       Peter Farrelly      1591.533715
Fox    Matthew Vaughn       623.465290
BV     James Gunn           353.451480
...                                ...
Strand Larry Brand          287.284920
Focus  Shan Serafin         307.492300
SGem   Paul W.S. Anderson   685.252975
LG/S   Scott Derrickson    2824.260233
       Ric Roman Waugh      286.051560

[161 rows x 10 columns]

In [336]:
#top_10 =pd.read_csv('/Users/carlosgovea/Documents/Flatiron/DSNYC103122/Phase-1-project-template/zippedData/top_10_studios.csv')
#all_merged_cat.drop('Colin Trevorrow', level=1, axis=0)
grouped_cat = all_merged_cat.groupby(level =[0])['profit'].transform(max)
grouped_cat

studio  primary_name
Uni.    James DeMonaco        2.569628e+09
        Colin Trevorrow       2.569628e+09
        Peter Farrelly        2.569628e+09
Fox     Matthew Vaughn        6.153654e+08
BV      James Gunn            1.148258e+09
                                  ...
Strand  Larry Brand           1.292782e+08
Focus   Shan Serafin          7.801734e+07
SGem    Paul W.S. Anderson    2.741012e+08
LG/S    Scott Derrickson      4.063512e+08
        Ric Roman Waugh       4.063512e+08
Name: profit, Length: 161, dtype: float64

In [327]:
grouped_cat.drop_duplicates(keep='first',inplace=True)
grouped_cat = grouped_cat.loc[['Uni.','Fox','BV','Par.','Sony','WB (NL)','WB','Wein.','FoxS','LGF'],:]
grouped_cat.sort_values(ascending=False, inplace =True)
grouped_cat.to_csv('/Users/carlosgovea/Documents/Flatiron/DSNYC103122/Phase-1-project-template/zippedData/director_profit.csv')
#all_merge.drop_duplicates(subset=['movie','movie_id'], keep='first',

In [293]:
#all_merged_cat.loc[all_merged_cat['studio']==['Uni.','BV','Fox'],:]

In [338]:
all_merged_cat.reset_index().groupby('studio')['studio', 'primary_name', 'foreign_gross','worldwide_gross'].max()

<ipython-input-338-09bba6decb3d>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  all_merged_cat.reset_index().groupby('studio')['studio', 'primary_name', 'foreign_gross','worldwide_gross'].max()

            studio        primary_name  foreign_gross  worldwide_gross
studio
A24            A24          Sean Baker   3.530000e+07     7.013390e+07
Affirm      Affirm        Andrew Hyatt   5.500000e+06     2.552950e+07
BH Tilt    BH Tilt       Stephen Susco   6.300000e+06     1.643459e+07
BV              BV         Tony Gilroy   9.464000e+08     1.403014e+09
CBS            CBS      Andrew Gurland   0.000000e+00     2.544871e+07
Cohen        Cohen      Alice Winocour   0.000000e+00     5.552584e+06
Eros          Eros          Kabir Khan   0.000000e+00     1.217783e+08
Focus        Focus        Tom Gormican   4.400000e+07     9.301734e+07
Fox            Fox      Theodore Melfi   5.968000e+08     8.133654e+08
FoxS          FoxS        Wes Anderson   1.433000e+08     2.250241e+08
GrtIndia  GrtIndia      S.S. Rajamouli   2.340000e+08     2.635029e+08
IFC            IFC   Richard Linklater   1.910000e+07     5.727305e+07
LG/S          LG/S   Sergio G. Sánchez   2.950000e+08     4.263512e+08
LGF            LGF     Stephen Chbosky   2.864000e+08     6.779234e+08
MBox          MBox   Pawel Pawlikowski   0.000000e+00     1.529836e+07
MGM            MGM        Ryan Coogler   9.830000e+07     2.135915e+08
ORF            ORF    Peter Lepeniotis   5.660000e+07     1.225300e+08
Orch.        Orch.       Te Arepa Kahi   0.000000e+00     2.384553e+07
P/DW          P/DW        Eric Darnell   5.305000e+08     7.469213e+08
PFR            PFR     Chuck Konzelman   1.400000e+06     1.430493e+07
Par.          Par.  William Brent Bell   4.894000e+08     6.663794e+08
ParV          ParV       Drake Doremus   3.360000e+05     3.728400e+06
RAtt.        RAtt.    Kenneth Lonergan   3.130000e+07     7.773387e+07
RTWC          RTWC     Leslye Headland   1.150000e+07     2.325076e+07
Rela.        Rela.       Mike Flanagan   1.630000e+07     4.411550e+07
SGem          SGem  Paul W.S. Anderson   2.854000e+08     3.141012e+08
SPC            SPC         Woody Allen   6.410000e+07     1.029130e+08
STX            STX         Scott Moore   1.291000e+08     3.087093e+08
Sony          Sony        Tony Leondis   5.576000e+08     9.644962e+08
Strand      Strand         Larry Brand   9.710000e+04     1.742782e+08
TriS          TriS        Rian Johnson   1.191000e+08     2.281042e+08
UTV            UTV       Nitesh Tiwari   2.905000e+08     2.946546e+08
Uni.          Uni.      Óskar Jónasson   8.918000e+08     2.954628e+09
W/Dim.      W/Dim.           Paul King   1.918000e+08     2.587891e+08
WB              WB         Zack Snyder   8.127000e+08     1.146895e+09
WB (NL)    WB (NL)         Sean Anders   1.418100e+09     1.977370e+09
Wein.        Wein.      Theodore Melfi   1.043000e+08     2.364125e+08

In [329]:
grouped_cat

studio   primary_name
WB (NL)  Guillermo del Toro    41556.474000
Par.     Christopher Nolan     10075.949000
Uni.     James DeMonaco         6117.545438
WB       James Wan              4141.172100
FoxS     Tony McNamara          2050.240860
Wein.    John Erick Dowdle      1849.960556
LGF      Stephen Chbosky        1423.023560
Fox      Matthew Vaughn         1322.189559
Sony     Jon Watts               971.662437
BV       James Gunn              752.480016
Name: profit_rate, dtype: float64

In [331]:
grouped_cat

studio   primary_name
WB (NL)  Guillermo del Toro    41556.474000
Par.     Christopher Nolan     10075.949000
Uni.     James DeMonaco         6117.545438
WB       James Wan              4141.172100
FoxS     Tony McNamara          2050.240860
Wein.    John Erick Dowdle      1849.960556
LGF      Stephen Chbosky        1423.023560
Fox      Matthew Vaughn         1322.189559
Sony     Jon Watts               971.662437
BV       James Gunn              752.480016
Name: profit_rate, dtype: float64

In [339]:
all_merged_cat

                              id  production_budget  domestic_gross  \
studio primary_name
Uni.   James DeMonaco      229.0         35000000.0    2.845668e+08
       Colin Trevorrow      47.0        385000000.0    1.069990e+09
       Peter Farrelly       72.0         63000000.0    1.712882e+08
Fox    Matthew Vaughn       83.0        198000000.0    2.284966e+08
BV     James Gunn           14.0        170000000.0    3.331721e+08
...                          ...                ...             ...
Strand Larry Brand          68.0         45000000.0    7.539504e+07
Focus  Shan Serafin         92.0         10000000.0    2.659426e+07
SGem   Paul W.S. Anderson   84.0         40000000.0    2.684469e+07
LG/S   Scott Derrickson     69.0          3000000.0    4.808690e+07
       Ric Roman Waugh      26.0         15000000.0    4.293046e+07

                           worldwide_gross  release_year  foreign_gross  \
studio primary_name
Uni.   James DeMonaco         4.579335e+08        8061.0    171800000.0
       Colin Trevorrow        2.954628e+09        4033.0    891800000.0
       Peter Farrelly         4.785880e+08        4032.0    318300000.0
Fox    Matthew Vaughn         8.133654e+08        4032.0    596800000.0
BV     James Gunn             7.708675e+08        2014.0    440200000.0
...                                    ...           ...            ...
Strand Larry Brand            1.742782e+08        2016.0        97100.0
Focus  Shan Serafin           4.074923e+07        2016.0     11000000.0
SGem   Paul W.S. Anderson     3.141012e+08        2017.0    285400000.0
LG/S   Scott Derrickson       8.772781e+07        2012.0     29600000.0
       Ric Roman Waugh        5.790773e+07        2013.0            0.0

                           popularity  runtime_minutes        profit  \
studio primary_name
Uni.   James DeMonaco         100.203            394.0  4.229335e+08
       Colin Trevorrow         55.667            252.0  2.569628e+09
       Peter Farrelly          52.248            239.0  4.155880e+08
Fox    Matthew Vaughn          50.440            270.0  6.153654e+08
BV     James Gunn              49.606            121.0  6.008675e+08
...                               ...              ...           ...
Strand Larry Brand              1.595             80.0  1.292782e+08
Focus  Shan Serafin             1.125             98.0  3.074923e+07
SGem   Paul W.S. Anderson       0.844            107.0  2.741012e+08
LG/S   Scott Derrickson         0.600            110.0  8.472781e+07
       Ric Roman Waugh          0.600            112.0  4.290773e+07

                           profit_rate
studio primary_name
Uni.   James DeMonaco      6117.545438
       Colin Trevorrow     1335.010886
       Peter Farrelly      1591.533715
Fox    Matthew Vaughn       623.465290
BV     James Gunn           353.451480
...                                ...
Strand Larry Brand          287.284920
Focus  Shan Serafin         307.492300
SGem   Paul W.S. Anderson   685.252975
LG/S   Scott Derrickson    2824.260233
       Ric Roman Waugh      286.051560

[161 rows x 10 columns]